
<ion-content class="background-gradient">
  <div style="text-align: right"><ion-icon (click)="dismiss()" end name="close-circle" class="icon"></ion-icon></div>
    <ion-grid>
      <ion-row style="height: 60px">
        <ion-col col-12>
            <div class="title">Change Password</div>
        </ion-col>
      </ion-row>
      <ion-row style="text-align: center">
        <ion-col col-12><input input type="Password" maxlength="40" [(ngModel)] = "currentPassword" placeholder="Current Password" class="input" ><span class="star">*</span></ion-col>
      </ion-row>
      <ion-row style="text-align: center">
        <ion-col col-12><input type="Password" maxlength="40"[(ngModel)] = "newPassword" placeholder="New Password" class="input" ><span class="star">*</span></ion-col>
      </ion-row>
      <ion-row style="text-align: center">
        <ion-col col-12><input #password2 input type="Password" maxlength="40" [(ngModel)] = "confirmNewPassword" placeholder="Confirm New Password" class="input" ><span class="star">*</span></ion-col>
      </ion-row>
    </ion-grid>
    <div style="text-align:center">
      <span class="star">* </span><span class="small-text">Required fields</span>
    </div>
   
    <div style = "text-align:center; padding-top: 20px">
      <button  (click)='changePassword()' ion-button>Change Password</button>
    </div>
</ion-content>

