password {

    .background-gradient{
        background: radial-gradient(color($colors,medium-blue),color($colors,dark-blue));
    }
    
    .button-round-md, .button-md{
        width: 50%;
        border-radius: 10px;
        font-size: 14pt;
        text-align: center;
    }

    .icon{
        color: white;
        font-size: 26pt;
        padding: 10px 10px 0px 0px;
        cursor: pointer;
    }

    .title{
        color: color($colors,light);
        text-align: center;
        font-size: 26pt;
    }

    .input{
        color: color($colors,dark);
        text-align: left;
        padding-left: 10px;
        font-size: 13pt;
        height:40px;
        width: 50%;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: color($colors,light);
        background-color:color($colors,light);
    }

    .small-text{
        color: white;
        text-align: left;
        font-size: 10pt;
    }

    .star{
        color: color($colors,danger);
        padding-left: 10px;
        font-size: 18pt;
    }

    // hide scroll bar
    .scroll-content {
        overflow-y: auto !important;
     }
   
    ::-webkit-scrollbar-track{
    background-color:transparent !important;
    }

    ::-webkit-scrollbar{
        background-color: transparent !important;
    }

    ::-webkit-scrollbar-thumb{
    border-radius: 10px!important;
    background-color: transparent !important;
    }  

    // placeholder colour
    ::placeholder { 
        color: color($colors,dark-white);
        opacity: 1; 
      }
}
