teams {
    .page{
        background-color: color($colors,medium-white);
        padding-right: 50px;
        border-radius: 0px 10px 0px 0px;
    }

    .items{
        color: whitesmoke; 
        background-color: color($colors,charcoal);
    }


}
