page-home {

   // hide scroll bar
   .scroll-content {
      overflow-y: auto !important;
   }
 
  ::-webkit-scrollbar-track{
  background-color: rgb(66, 39, 39)!important;
  }

  ::-webkit-scrollbar{
      background-color: rgb(66, 39, 39)!important;
  }

  ::-webkit-scrollbar-thumb{
  border-radius: 10px!important;
  background-color: rgb(66, 39, 39)!important;
  }  


    .logo {
        margin-top: 3px;
     }
    
     .toolbar-title-md{
         background-color: transparent;
     }

     .menu-col{
        height: 40px;
        color: color($colors,light);
        text-align: left;
        font-size: 12pt;
        background-color: color($colors,light-blue-grey);
        border-style: solid;
        border-color: color($colors,light);
        padding-left: 10px;
     }

   .menu-col:hover{
      background-color: color($colors,light-blue);
      cursor: pointer;
   }

   .menu-list{
      border-width: 1px 1px 0px 1px;
      //border-radius: 10px 10px 0px 0px;
      padding-top: 10px;
   }

   .menu-bottom{
      border-width: 0px 1px 1px 1px;
      //border-radius: 0px 0px 10px 10px;
   }

    .replay{
         width: 60%;
         color: color($colors,light);
         border-radius: 10px;
         height: 40px;
         font-size: 12pt;
         margin-top: 25px;
      }

      .version{
         color:color($colors,light);
        font-size: 10pt;
      }
   
     .small-icon{
        color: #FFBC1D;
        font-size: 16pt;
     }

     .person{
        cursor: pointer;
        padding-right: 5px;
        color: color($colors,light);
        min-width: 200px;
     }

     .person:hover{
      color: orange;
     }
    
     .thin-row{
         font-size: 11pt;
     }

     .logout{
      font-size: 12pt;
      cursor:pointer;
      padding-right: 10px;
      color:color($colors,light);
     }

     .logout:hover{
      font-size: 12pt;
      color: orange;
     }
    
     .thick-row{
        height: 30px;
        font-size: 14pt;
    }
    
     .maintitle{
         height: "200px" ;
         padding-top: 5px;
     }
    
     .sport-background{
        background-color: color($colors,dark-blue);
     }

     .league-background{
        background-color:color($colors,blue-grey);
        padding-top: 40px;
        border-radius: 0px 0px 0px 15px;

     }

     .teams-background{
        background-color:color($colors,blue-grey);
        padding-top: 40px; 
        padding-right: 50px;
        border-radius: 0;
     }

     .notifications-background{
         border-radius: 0px 10px 10px 0px;
     }
}
