
<div >
    <ion-grid no-padding>
        <ion-row >
            <div *ngFor="let sport of allSports let i = index" [class]="i+1==selectedTab ? 'tab tab-selected' : 'tab tab-unselected'" (click) = "sportClick(i+1)">
              <ion-col col-4>
                  <img class="icon" [src]= "sport.icon">
              </ion-col>
              <ion-col class="tab-text" no-padding col-8>
                      {{sport.name}}
              </ion-col>
            </div>
        </ion-row>
    </ion-grid>
</div>
